name: Setup Environments
run-name: Setup Environments in ${{ github.ref_name }} by ${{ github.actor }}

on:
  workflow_dispatch:
    inputs:
      aws-region:
        description: "AWS region where services will be deployed"
        required: true
        type: string
        default: "us-east-1"
      gcp-region:
        description: "GCP region where services will be deployed"
        required: true
        type: string
        default: "us-east4"
      azure-region:
        description: "Azure region where services will be deployed"
        required: true
        type: string
        default: "eastus"

jobs:
  setup:
    name: Setup
    uses: subhamay-bhattacharyya-gha/setup-multi-cloud-environments-wf/.github/workflows/setup-environments.yaml@feature/GHA-0007-initial-release
    with:
      aws-region: ${{ github.event.inputs.aws-region }}
      gcp-region: ${{ github.event.inputs.gcp-region }}
      azure-region: ${{ github.event.inputs.azure-region }}
    secrets:
      GH_PAT: ${{ secrets.GH_PAT }}
